<div class="well">
  <h2>User</h2>

  <p>
  <b>Name:</b> {{name}}
  </p>

  <p>
  <b>Email:</b> {{email}}
  </p>

  {{#linkTo "users"}}â†All Users{{/linkTo}}
  {{#linkTo "edit_user" model}}Edit{{/linkTo}}
  <a href="#" {{action "destroy"}}>Destroy</a>
</div>
